body{
    background-color: #9E7BB5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5D3F6A;
    text-align: center;
}

h1 {
    font-size: 45px;
}

p  {
    font-size: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}